form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: auto;
}
h2 {
  margin-top: 0;
}
div {
  margin-bottom: 10px;
}
input[type='radio'] {
  margin-right: 5px;
}
button {
  padding: 10px;
  margin-top: 20px;
}
