.container {
  display: flex;
  flex-direction: row-reverse;
}

.green {
  height: 150px;
  background: #51d400;
  flex-grow: 1;
}

.yellow {
  height: 150px;
  background: #ffd62a;
  flex-grow: 2;
}

.purple {
  height: 150px;
  background: #b02afe;
  flex-grow: 1;
}
