.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100vh;
}

.green {
  width: auto;
  height: 25%;
  background: #51d400;
}

.yellow {
  width: auto;
  height: 50%;
  background: #ffd62a;
  order: 1;
}

.purple {
  width: auto;
  height: 25%;
  background: #b02afe;
}
